
<div class="col-sm-8">
    <legend class="title">Seller Information</legend>
    <div data-hook="supplier_address_wrapper">
      <fieldset class="no-border-bottom no-border-top" style="padding-bottom:0px;">
        <%= form.fields_for :address do |contact_form| %>
          <%= render :partial => 'spree/admin/shared/address_form', :locals => { :f => contact_form, :name => Spree.t(:contact_address), :type => "shipping" } %>
        <% end %>
      </fieldset>

      <div data-hook="supplier_details_wrapper">
      <fieldset class="no-border-bottom no-border-top">
        <!-- auto populate name and email if user is a new supplier -->
        <% if spree_current_user.supplier? == false %>
          <%= form.hidden_field :name, :class => 'fullwidth title', :value => spree_current_user.full_name %>
          <%= form.field_container :email do %>
            <%= form.label :email, Spree::Supplier.human_attribute_name(:email) %>:<br />
            <%= form.email_field :email, :class => 'fullwidth text', :value => spree_current_user.email %>
          <% end %>
        <!-- when editing or viewing another supplier dont auto populate name/email -->
        <% else %>
            <%= form.hidden_field :name, :class => 'fullwidth title' %>
          <%= form.field_container :email do %>
            <%= form.label :email, Spree::Supplier.human_attribute_name(:email) %>:<br />
            <%= form.email_field :email, :class => 'fullwidth text' %>
          <% end %>
        <% end %>
        <%= form.field_container :url do %>
          <%= form.label :url, Spree::Supplier.human_attribute_name(:url) %>:<br />
          <%= form.text_field :url, :class => 'fullwidth text' %>
        <% end %>
        <%= form.field_container :store_name do %>
          <%= form.label :store_name, Spree::Supplier.human_attribute_name(:store_name) %><br />
          <%= form.text_field :store_name, :class => 'fullwidth text' %>
        <% end %>
        <%= form.field_container :cover_photo do %>
          <%= form.label :cover_photo, Spree::Supplier.human_attribute_name(:cover_photo) %><br />
          <%= form.file_field :cover_photo %>
        <% end %>
        <p class="help-block">Brandable image that appears at the top of your profile page. Recommended size: 1900px x 665px</p>
        <%= form.field_container :store_logo do %>
          <%= form.label :store_logo, Spree::Supplier.human_attribute_name(:store_logo) %><br />
          <%= form.file_field :store_logo %>
        <% end %>
        <p class="help-block">Recommended size 200px x 200px.</p>

        <% if spree_current_user.leema_admin? == true %>
          <%= form.field_container :users do %>
            <%= form.label :users %><br/>
            <%= hidden_field_tag 'supplier[user_ids_string]', form.object.user_ids.join(','), class: 'fullwidth user_picker' %>
          <% end %>
          <%= form.field_container :active do %>
            <%= form.label :active, Spree::Supplier.human_attribute_name(:active) %>:<br />
            <%= form.check_box :active, :checked => true %>
          <% end %>
        <% end %>

      </fieldset>
    </div>
    </div>

      <div class='center'>
        <% if form.object.new_record? %>
          <%= button Spree.t('create_profile') %>
        <% else %>
          <%= button Spree.t('update_profile') %>
        <% end %>

      </div>
      <br>
</div>

