<% if spree_current_user.leema_admin? == true %>
  <% content_for :page_actions do %>
    <li><%= button_link_to Spree.t('back_to_suppliers'), spree.admin_suppliers_path, icon: 'arrow-left' %></li>
  <% end %>
<% end %>

<% content_for :page_title do %>
  <%== Spree.t(:editing_supplier) + " &ldquo;#{@object.name}&rdquo;".html_safe %>
<% end %>

<%= render 'spree/shared/error_messages', target: @object %>


<%= form_for [:admin, @object] do |f| %>
    <%= render "form", form: f %>
<% end %>



<div data-hook="supplier_right_column_wrapper" class="col-sm-4">
    <%= form_for [:admin, @object] do |f| %>
      <legend class="title">Announcement</legend>
      <p>Make an announcement to your loyal customers! This will appear on your profile page and each of your product's page.</p>
      <div class="form-group">
        <%= f.text_area :announcement, :class => 'form-control' %>
        <%= button Spree.t('save_announcement') %>
      </div>

      <legend class="title">Going on vacation?</legend>
      <div class="checkbox">
      <label>
        <%= f.check_box :vacation_mode %> Turn on vacation mode
      </label>
      </div>

      <div class="form-group">
          <%= f.label :return_date, Spree.t('select_return_date') %>:
          <%= f.date_field :return_date, :class => 'form-control' %>
          <br>
          <% if spree_current_user.supplier.vacation_mode == 0 %>
              <%= button Spree.t('go_on_vacation') %>
          <% elsif spree_current_user.supplier.vacation_mode == 1 %>
              <%= button Spree.t('back_from_vacation') %>
          <% end %>
      </div>
      <br>

    <% end %>

</div>
