<div class="sign-in-reg">
  <div class="container form">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-12">
        <div class="form-header logo-inverse">
          <a href="/"><%= image_tag "leema-logo-white.png", class: 'img-responsive signin-logo' %></a>
        </div>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name) , :html => {:class => "well"}) do |f| %>
          <%= devise_error_messages! %>
          <fieldset>
            <legend>
              <h2>Sign Up</h2>
            </legend>
            <div class="facebook-login">
              <%= link_to user_omniauth_authorize_path(:facebook) do %>
                <i class="fa fa-facebook"></i> Sign up with Facebook
              <% end %>
            </div>

            <hr>

            <div class="form-group">
              <div><%= f.label :first_name %>
              <%= f.text_field :first_name, autofocus: true, class: 'form-control input_wide' %></div>
            </div>
            <div class="form-group">
              <div><%= f.label :last_name %>
              <%= f.text_field :last_name, class: 'form-control input_wide' %></div>
            </div>
            <div class="form-group">
              <div><%= f.label :email %>
              <%= f.email_field :email, class: 'form-control input_wide' %></div>
            </div>
            <div class="form-group">
              <div><%= f.label :password %> <% if @validatable %><i>(<%= @minimum_password_length %> characters minimum)</i><% end %><br />
                <%= f.password_field :password, autocomplete: "off", class: 'form-control input_wide' %></div>
            </div>
            <div class="form-group">
              <div><%= f.label :password_confirmation %>
                <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control input_wide' %></div>
            </div>
            <div class="checkbox">
              <%= f.label :mailing_list do %>
                <%= f.check_box :mailing_list, :checked => true %> Treat my inbox with delicious emails from www.leemaeats.com
              <% end %>
            </div>
          </fieldset>
          <hr>
          <div class="text-center">
            <p><small>By signing up, I acknowledge that I have read, understand and agree to be bound by the leemaeats.com website <a href="/terms-of-use">Terms of Use</a> and <a href="/privacy-policy">Privacy Policy</a>.</small></p>
            <%= f.submit "Sign up", :class => "btn btn-primary" %>
          </div>
          <div class="text-right">
            Already a member? <%= render "devise/shared/links" %>
          </div>

          <% end %>
      </div><!-- close col -->
    </div><!-- close row -->
  
  </div><!-- close container -->
</div><!-- close sign-in-reg -->
