<% title "Order History - " %>

  <div class="section-cover">
   <%= image_tag("orderhistory-cover.jpg", :alt => "Orders Cover Photo", :class => "section-cover-image img-responsive") %>
    <h1>
      <%= current_user.full_name %>
    </h1>
  </div>

  <div class="container">
    <div class="page-header">
      <h3>Your Account</h3>
    </div>
    <p class="name"><%= current_user.full_name %></p>
    <p class="email"><%= current_user.email %></p>

    <div class="page-header">
      <h3>Order History</h3>
    </div>
    <% if @orders.count > 0 %>
      <div class="table-responsive">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th>Order Completed on</th>
              <th>Order #</th>
              <th>Order Total</th>
              <th>Product(s)</th>
              <th>Leema Seller(s)</th>
              <th>Tracking Number</th>
              <th>Provider</th>
            </tr>
          </thead>
          <tbody>
            <% @orders.each do |order| %>
              <tr>
                <td><%= order.completed_at.strftime("%m/%d/%Y") %></td>
                <td><%= order.number %></td>
                <td><%= number_to_currency(order.total, :unit => "$") %></td>
                <td>
                  <% order.shipments.each do |shipment| %>
                    <% shipment.line_items.each do |item| %>
                      <a href="/store/products/<%= item.product.slug %>"><%= item.name %></a><br>
                    <% end %>
                  <% end %>
                </td>
                <td>
                  <% order.suppliers.each do |supplier| %>
                    <a href="/<%= supplier.users.first.display_name %>"><%= supplier.store_name %></a><br>
                  <% end %>
                </td>
                <td>
                  <% order.shipments.each do |shipment| %>
                    <% if shipment.tracking %>
                      <a href="https://tools.usps.com/go/TrackConfirmAction.action?tLabels=<%= shipment.tracking.to_s %>" target="_blank"><%= shipment.tracking %></a><br>
                    <% else %>
                      <p font-size= "small"><%= shipment.supplier.store_name %> has received your order, but hasn't shipped your product yet. Check back here once they do.</p>
                    <% end %>
                  <% end %>
                </td>
                <td>
                  <% order.shipments.each do |shipment| %>
                    <%= shipment.shipping_rates.first.name %>
                    <br>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% else %>
      <p>You haven't made any purchases yet. <%= link_to "Buy something!", spree_path %></p>
    <% end %>
  </div>


