<% title "Order History - " %>

  <div class="section-cover">
   <%= image_tag("orderhistory-cover.jpg", :alt => "Orders Cover Photo", :class => "section-cover-image img-responsive") %>
    <h1>
      <%= current_user.full_name %>
    </h1>
  </div>

  <div class="container">
    <div class="page-header">
      <h3>Your Account</h3>
    </div>
    <p class="name"><%= current_user.full_name %></p>
    <p class="email"><%= current_user.email %></p>

    <div class="page-header">
      <h3>Order History</h3>
    </div>
    <% if @orders.count > 0 %>
      <div class="table-responsive">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th>Order Completed on</th>
              <th>Order #</th>
              <th>Order Total</th>
              <th>Product(s)</th>
              <th>Product Price</th>
              <th>Leema Seller(s)</th>
              <th>Shipment Price</th>
              <th>Provider</th>
            </tr>
          </thead>
          <tbody>
            <% @orders.each do |order| %>
              <tr>
                <td><%= pretty_time(order.completed_at) %></td>
                <td><%= order.number %></td>
                <td><%= number_to_currency(order.total, :unit => "$") %></td>
                <td>
                  <% order.shipments.each do |shipment| %>
                    <% shipment.line_items.each do |item| %>
                      <%= item.name %><br>
                    <% end %>
                  <% end %>
                </td>
                <td>
                  <% order.shipments.each do |shipment| %>
                    <% shipment.line_items.each do |item| %>
                      <%= number_to_currency(item.price, :unit => "$") %><br>
                    <% end %>
                  <% end %>
                </td>
                <td>
                  <% order.suppliers.each do |supplier| %>
                    <%= supplier.name %><br>
                  <% end %>
                </td>
                <td>
                  <% order.shipments.each do |shipment| %>
                    <%= number_to_currency(shipment.cost, :unit => "$") %><br>
                  <% end %>
                </td>
                <td>
                  <% order.shipments.each do |shipment| %>
                    <%= shipment.shipping_rates.first.name %>
                    <% if shipment.tracking == "" %>
                      | <%= link_to "Track", shipment.tracking %>
                    <% end %>
                    <br>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% else %>
      <p class="lead">You haven't made any purchases yet. Buy something!</p>
    <% end %>
  </div>


