  <div class="section-cover">
   <%= image_tag("orders-cover-photo.jpg", :alt => "Orders Cover Photo", :class => "section-cover-image img-responsive") %>
    <h1>
      <%= current_user.full_name %>
    </h1>
  </div>

  <div class="container">
    <div class="page-header">
      <h3>Your Account</h3>
    </div>
    <p class="name"><%= current_user.full_name %></p>
    <p class="email"><%= current_user.email %></p>

    <div class="page-header">
      <h3>Recent Orders</h3>
    </div>
    <div class="table-responsive">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>Date</th>
            <th>Order #</th>
            <th>Product</th>
            <th>Cost</th>
            <th>Shipment State</th>
            <th>Leema Seller</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
            <% order.line_items.each do |item| %>
              <tr>
                <th><%= item.created_at %></th>
                <th><%= item.order.number %></th>
                <th><%= item.product.name + item %></th>
                <th><%= item.price %></th>
                <th><%= item.order.shipment_state %></th>
                <th><%= link_to "#{item.product.suppliers.first.name}", "/" + item.product.suppliers.first.users.first.display_name %>
                </th>                
                <th><a href="#">Track</a> | <a href="#">Details</a></th>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>



