<% variant = line_item.variant -%>
<%= order_form.fields_for :line_items, line_item do |item_form| -%>
  <tr class="<%= cycle('', 'alt') %> line-item">
    <td class="cart-item-image" data-hook="cart_item_image">
      <% if variant.images.length == 0 %> <!-- if theres no product image provided by seller -->
        <% if line_item.custom_product_image_file_name %>
          <%= link_to image_tag line_item.custom_product_image.url(:thumb) %>
        <% else %> <!-- show generic leema image if no custom image provided by buyer -->
          <%= image_tag "leema-seller-logo.jpg" %>
        <% end %>
      <% else %>
        <% if line_item.custom_product_image_file_name %>
          <%= link_to image_tag line_item.custom_product_image.url(:thumb) %>
        <% else %><!-- if buyer does not upload image, default to product's image -->
          <%= link_to image_tag(variant.images.first.attachment.url(:small)), variant.product %>
        <% end %>
      <% end %>   
    </td>
    <td class="cart-item-description" data-hook="cart_item_description">
      <h4><%= link_to line_item.name, product_path(variant.product) %></h4>
      <!--<%= variant.options_text %> hiding this cause didnt think it looked good - Brandon -->
      <% if line_item.insufficient_stock? %>
        <span class="out-of-stock">
          <%= Spree.t(:out_of_stock) %>&nbsp;&nbsp;<br />
        </span>
      <% end %>
      <span class="line-item-description" data-hook="line_item_description">
        <% if line_item.custom_order_description != nil %>
          <p><span class="label label-info">Custom Order</span></p>
          <p><strong>Description:</strong> <%= truncate(line_item.custom_order_description, :length => 100, :separator => ' ') %></p>
        <% end %>
        <!-- removed the description here -->
      </span>
      <span>
        <% if line_item.deliver_by_date != nil %>
          <p><strong>Desired delivery date:</strong> <%= line_item.deliver_by_date.strftime("%b %e, %Y") %></p>
        <% end %>
      </span>
    </td>
    <td class="cart-item-price" data-hook="cart_item_price">
      <%= line_item.single_money.to_html %>
    </td>
    <td class="cart-item-quantity" data-hook="cart_item_quantity">
      <%= item_form.number_field :quantity, :min => 0, :class => "line_item_quantity", :size => 5 %>
    </td>
    <td class="cart-item-total" data-hook="cart_item_total">
      <%= line_item.display_amount.to_html unless line_item.quantity.nil? %>
    </td>
    <td class="cart-item-delete" data-hook="cart_item_delete">
      <%= link_to image_tag('icons/delete.png'), '#', :class => 'delete', :id => "delete_#{dom_id(line_item)}" %>
    </td>
  </tr>
<% end -%>
