<%= form_for :order, :url => populate_orders_path do |f| %>
  <div id="inside-product-cart-form" data-hook="inside_product_cart_form" itemprop="offers" itemscope itemtype="http://schema.org/Offer">

    <%= hidden_field_tag "variant_id", @product.master.id %>

    <% if @product.price_in(current_currency) and !@product.price.nil? %>
      <div data-hook="product_price">

        <div id="product-price">

          <div>
            <span class="price selling" itemprop="price">
              <%= display_price(@product) %>
            </span>
            <span itemprop="priceCurrency" content="<%= @product.currency %>"></span>
          </div>

          <% if @product.master.can_supply? && @product.out_of_stock == 0 %>
            <link itemprop="availability" href="http://schema.org/InStock" />
          <% elsif @product.variants.empty? %>
            <br />
            <span class="out-of-stock"><%= Spree.t(:out_of_stock) %></span>
          <% else %>
            <br />
            <span class="out-of-stock">Sorry! This product is temporarily unavailable.</span>
          <% end %>
        </div>

          <% if @product.suppliers.first.vacation_mode == 1 %>
            <div class="well">
              <p>This seller is currently on vacation until <%= @product.suppliers.first.return_date.strftime("%B %d, %Y") %>. Please check back later to purchase this product!</p>
            </div>

          <% elsif @product.master.can_supply? && @product.out_of_stock == 0 %>

            <div class="add-to-cart">
              <%= number_field_tag :quantity, 1, :class => 'title', :min => 1 %>
              <%= button_tag :class => 'btn btn-success', :id => 'add-to-cart-button', :type => :submit do %>
                <%= Spree.t(:add_to_cart) %>
              <% end %>
            </div>
          <% elsif @product.variants.empty? %>

          <% end %>
      </div>
    <% else %>
        <div id="product-price">
          <br>
          <div><span class="price selling" itemprop="price"><%= Spree.t('product_not_available_in_this_currency') %></span></div>
        </div>
    <% end %>
  </div>
<% end %>
