<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="exampleModalLabel">Leema Custom Order</h4>
</div>
<div class="modal-body">
  <form>
    <div class="form-group">
      <label class="control-label">Message from <%= @product.suppliers.first.store_name %>:</label>

      <p><%= @product.custom_order_description %></p>
    </div>

    <div class="form-group">
      <label for="quantity" class="control-label">Quantity:</label>
      <%= form_for :order, :url => populate_orders_path do |f| %>
        <%= number_field_tag :quantity, 1, :class => 'form-control', :min => 1 %>
      <% end %>
    </div> 
  </form>
</div><!-- end modal-body -->
<div class="modal-footer">
  <%= form_for :order, :url => populate_orders_path do |f| %>
    <div id="inside-product-cart-form" data-hook="inside_product_cart_form" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
    <%= hidden_field_tag "variant_id", @product.master.id %>
    <% if @product.price_in(current_currency) and !@product.price.nil? %>
      <div data-hook="product_price" class="columns five <% if !@product.has_variants? %> alpha <% else %> omega <% end %>">
          <% if @product.master.can_supply? %>
          <!-- Add modal structure here -->
            <div class="add-to-cart">
              <%= button_tag :class => 'btn btn-success', :id => 'add-to-cart-button', :type => :submit do %>
                <%= Spree.t(:add_to_cart) %>
              <% end %>
            </div>
          <% elsif @product.variants.empty? %>

          <% end %>
      </div>
    <% else %>
        <div id="product-price">
          <br>
          <div><span class="price selling" itemprop="price"><%= Spree.t('product_not_available_in_this_currency') %></span></div>
        </div>
    <% end %>
    </div>
  <% end %>
</div>
