<% title "Welcome - " %>

<section class="masthead home" id="content" role="main">
  <div class="container">
		<div class="row">
			 <div class="col-xs-12 intro">
				 	<h1 class="text-center">The marketplace that connects culinary artists to people with great taste.</h1>
			  	<%= link_to "Browse Our Products", spree_path, class: "btn btn-lg btn-primary" %>
		  </div>
		</div>
  </div><!-- /.container -->
</section><!-- /.masthead -->


<section id="welcome-product-grid">
	<div class="container">
		<div class="row">
			<h2 class="text-center">Explore The Most Popular Treats On The Market</h2>
			<div id="featured-products" class="owl-carousel">
				<% @products.each do |product| %>
				  <div class="welcome-product">
				  	<%= link_to 'store/products/' + product.slug, :class => 'product-link', :itemprop => "name", :title => product.name do %>
					  	<div class="product-card">
								<% if product.images.count > 0 %>

									<div class="product-image background-image" style="background-image: url(<%= image_url product.images.first.attachment.url(:large) %>);"></div>

								<% else %>

									<div class="product-image background-image" style="background-image: url(<%= image_url "leema-product-placeholder.jpg" %>)"></div>

								<% end %>
								<div class="product-info">
									<h3><%= product.name %></h3>
									<p class="product-description"><%= truncate(product.leema_description, :length => 150) %></p>
                  <p class="product-price" itemprop="price"><%= product.display_price %></p>
                  <% if product.suppliers.first.store_logo_file_name? %>
		                <%= image_tag product.suppliers.first.store_logo(:default), :class => 'seller-logo-mini' %>
		              <% end %>
								</div><!-- close .product-info -->
							</div><!-- close .product-card -->
						<% end %>
				  </div>
				<% end %>
			</div>
		</div>
	</div>
</section><!-- /#welcome-product-grid -->

<section id="reindeer" class="image-break">
	<div id="founding-sellers-bg"></div>
	<div class="container" id="founding-sellers">
		<h2 class="text-center">Featured Sellers</h2>
		<div class="row">
			<div class="col-sm-3 col-xs-4">
				<a href="https://www.leemaeats.com/spots">
					<%= image_tag "spots.jpg", :class => 'img-responsive img-circle center-block founding-seller-logo' %>
				</a>
			</div>
			<div class="col-sm-3 col-xs-4">
				<a href="https://www.leemaeats.com/popsbyhaley">
					<%= image_tag "pops-by-haley.jpg", :class => 'img-responsive img-circle center-block founding-seller-logo' %>
				</a>
			</div>
			<div class="col-sm-3 col-xs-4">
				<a href="https://www.leemaeats.com/sabiandabi">
					<%= image_tag "sabi-abi.jpg", :class => 'img-responsive img-circle center-block founding-seller-logo' %>
				</a>
			</div>
			<div class="col-sm-3 col-xs-4">
				<a href="https://www.leemaeats.com/realitybitescupcakes">
					<%= image_tag "reality-bites.jpg", :class => 'img-responsive img-circle center-block founding-seller-logo' %>
				</a>
			</div>
			<div class="col-sm-3 col-xs-4">
				<a href="https://www.leemaeats.com/carlysbetterbites">
					<%= image_tag "carlys-better-bites.jpg", :class => 'img-responsive img-circle center-block founding-seller-logo' %>
				</a>
			</div>
			<div class="col-sm-3 col-xs-4">
				<a href="https://www.leemaeats.com/batterandcream">
					<%= image_tag "batter-and-cream.jpg", :class => 'img-responsive img-circle center-block founding-seller-logo' %>
				</a>
			</div>
			<div class="col-sm-3 col-xs-4">
				<a href="https://www.leemaeats.com/bcakesbakery">
					<%= image_tag "b-cakes.jpg", :class => 'img-responsive img-circle center-block founding-seller-logo' %>
				</a>
			</div>
			<div class="col-sm-3 col-xs-4">
				<a href="https://www.leemaeats.com/laurieandsons">
					<%= image_tag "laurie-and-sons.jpg", :class => 'img-responsive img-circle center-block founding-seller-logo' %>
				</a>
			</div>
			<div class="col-sm-3 col-xs-4">
				<a href="https://www.leemaeats.com/3nanas">
					<%= image_tag "3nanas.jpg", :class => 'img-responsive img-circle center-block founding-seller-logo' %>
				</a>
			</div>
			<div class="col-sm-3 col-xs-4">
				<%= image_tag "soom-coming-soon.jpg", :class => 'img-responsive img-circle center-block founding-seller-logo' %>
			</div>
			<div class="col-sm-3 col-xs-4">
				<%= image_tag "bijou-sweets-coming-soon.jpg", :class => 'img-responsive img-circle center-block founding-seller-logo' %>
			</div>
			<div class="col-sm-3 col-xs-4">
				<%= image_tag "stuffed-coming-soon.jpg", :class => 'img-responsive img-circle center-block founding-seller-logo' %>
			</div>
		</div>
	</div>
</section>

<section id="features-benefits">
	<div class="container">
		<h2 class="text-center">Eat to Your Heart's Desire</h2>
		<div class="row icon-blurb">
			<div class="icon">
				<%= image_tag "donut-flat-icon.png", class: 'img-responsive center-block' %>
			</div><!-- close .col-sm-3 -->
			<div class="blurb">
				<h3>Designed to Eat</h3>
				<p>Leema Artisans only make the most mouthwatering, unique, and creative food items. From savory Cookie Nut Butter to sweet Gluten Free Cake Bites, if it’s delicious, you’ll find it on Leema.</p>
			</div>
		</div><!-- close .row -->
		<div class="row icon-blurb">
			<div class="icon">
				<%= image_tag "stripe-flat-icon.png", class: 'img-responsive center-block' %>
			</div><!-- close .col-sm-3 -->
			<div class="blurb">
				<h3>Secure Transactions</h3>
				<p>Using Stripe to process all transactions, we give you the peace of mind that you're protected when you make a purchase or sell a product. Whether paying by credit card or debit card your information is safe and secure.</p>
			</div>
		</div><!-- close .row -->
		<div class="row icon-blurb">
			<div class="icon">
				<%= image_tag "shipping-flat-icon.png", class: 'img-responsive center-block' %>
			</div><!-- close .col-sm-3 -->
			<div class="blurb">
				<h3>Shipped to Your Door</h3>
				<p>Whether you’re 2 or 2000 miles away, shipping by USPS&reg; will ensure that you receive your product right at your doorstep.</p>
			</div>
		</div><!-- close .row -->
		<div class="row icon-blurb">
			<div class="icon">
				<%= image_tag "heart-flat-icon.png", class: 'img-responsive center-block' %>
			</div><!-- close .col-sm-3 -->
			<div class="blurb">
				<h3>Better With Friends</h3>
				<p>Leema’s community was built on unique and delicious food products created by culinary artists and enjoyed by people with great taste. This community truly sees food for what it is, a delicious expression of the person who created it.</p>
			</div>
		</div><!-- close .row -->
	</div><!-- close .container -->
</section>


<section id="get-started">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 text-center">
				<h2>How It Works</h2>
				<div class="row">
					<div class="col-sm-4">
						<div class="circle">
							<%= image_tag "shop-icon.png", class: 'img-responsive center-block' %>
						</div>
						<h4>Shop our products</h4>
					</div><!-- close .col-sm-4 -->
					<div class="col-sm-4">
						<div class="circle">
							<%= image_tag "money-icon.png", class: 'img-responsive center-block' %>
						</div>
						<h4>Make your purchase</h4>
					</div><!-- close .col-sm-4 -->
					<div class="col-sm-4">
						<div class="circle">
							<%= image_tag "smile-icon.png", class: 'img-responsive center-block' %>
						</div>
						<h4>Enjoy Deliciousness</h4>
					</div><!-- close .col-sm-4 -->
				</div><!-- close .row -->
				<% if signed_in? %>
					<%= link_to "Start Shopping", spree_path, class: "btn btn-primary" %>
				<% else %>
					<a href="/register" class="btn btn-primary">Create Your Account</a>
				<% end %>
			</div>
		</div><!-- close .row -->
	</div><!-- close .container -->
</section>
