<% title "Welcome - " %>

<section id="welcome">
	<!-- <div id="instagram-feed" class="clearfix"></div> -->
	<div class="gradient"></div>

	<div class="welcome-info">
		<h1>Let Everyone Eat My Art.</h1>
		<p>The marketplace that connects culinary artists to people with great taste.</p>
		<%= link_to "Shop Our Products", spree_path, class: "btn btn-lg btn-primary" %>
	</div>

</section>

<section id="welcome-product-grid">
	<div class="container">
		<div class="row">
			<h2 class="text-center">Explore The Most Popular Treats On Leema</h2>
			<div id="featured-products">
				<% @products.each do |product| %>
				<div class="col-md-4 col-sm-6">
					  <div class="welcome-product">
					  	<%= link_to 'store/products/' + product.slug, :class => 'product-link', :itemprop => "name", :title => product.name do %>
						  	<div class="product-card">
									<% if product.images.count > 0 %>

										<div class="product-image background-image" style="background-image: url(<%= image_url product.images.first.attachment.url(:large) %>);"></div>

									<% else %>

										<div class="product-image background-image" style="background-image: url(<%= image_url "leema-product-placeholder.jpg" %>)"></div>

									<% end %>
									<div class="product-info">
										<h3><%= truncate(product.name, :length => 50) %></h3>
										<p class="product-description"><%= truncate(product.leema_description, :length => 150) %></p>
	                  <p class="product-price" itemprop="price"><%= product.display_price %></p>
	                  <% if product.suppliers.first.store_logo_file_name? %>
			                <%= image_tag product.suppliers.first.store_logo(:default), :class => 'seller-logo-mini' %>
			              <% end %>
									</div><!-- close .product-info -->
								</div><!-- close .product-card -->
							<% end %>
					  </div>
				</div><!-- close col-md-4 col-sm-6 -->
				<% end %>
			</div> <!-- close #featured-products -->
			<div class="col-xs-12 text-center">
				<%= link_to "Shop All Products", spree_path, class: "btn btn-primary" %>
			</div>
		</div><!-- close row -->
	</div>
</section><!-- /#welcome-product-grid -->

<section id="featured-sellers" class="image-break">
	<div class="container" id="founding-sellers">
		<h2 class="text-center">Featured Sellers</h2>
		<div class="row">
			<!-- b.cakes -->
			<div class="col-sm-3 col-xs-6 seller text-center">
				<a href="https://www.leemaeats.com/bcakesbakery" class="seller-logo-link">
					<%= image_tag "b-cakes-photo.jpg", :class => 'img-responsive img-circle center-block founding-seller-logo' %>
				</a>
				<a href="https://www.leemaeats.com/bcakesbakery">
					<h4 class="seller-full-name">Emma Kantrowitz</h4>
				</a>
				<p class="location-store"><i class="fa fa-map-marker"></i> Hoboken, NJ / B.Cakes Bakery</p>
				<a class="btn btn-primary" href="https://www.leemaeats.com/bcakesbakery">View Shop <i class="fa fa-arrow-circle-o-right"></i></a>
			</div>

			<!-- sweet e's -->
			<div class="col-sm-3 col-xs-6 seller text-center">
				<a href="https://www.leemaeats.com/sweetesbakeshop" class="seller-logo-link">
					<%= image_tag "sweet-e-bakeshop-photo.jpg", :class => 'img-responsive img-circle center-block founding-seller-logo' %>
				</a>
				<a href="https://www.leemaeats.com/sweetesbakeshop">
					<h4 class="seller-full-name">Erica Tucker</h4>
				</a>
				<p class="location-store"><i class="fa fa-map-marker"></i> Los Angeles, CA / Sweet E's Bake Shop</p>
				<a class="btn btn-primary" href="https://www.leemaeats.com/sweetesbakeshop">View Shop <i class="fa fa-arrow-circle-o-right"></i></a>
			</div>

			<!-- reality bites -->
			<div class="col-sm-3 col-xs-6 seller text-center">
				<a href="https://www.leemaeats.com/realitybitescupcakes" class="seller-logo-link">
					<%= image_tag "rbc-photo.jpg", :class => 'img-responsive img-circle center-block founding-seller-logo' %>
				</a>
				<a href="https://www.leemaeats.com/realitybitescupcakes">
					<h4 class="seller-full-name">Ashley Foxen</h4>
				</a>
				<p class="location-store"><i class="fa fa-map-marker"></i> New York, NY / Reality Bites Cupcakes</p>
				<a class="btn btn-primary" href="https://www.leemaeats.com/realitybitescupcakes">View Shop <i class="fa fa-arrow-circle-o-right"></i></a>
			</div>

			<!-- baked boxes -->
			<div class="col-sm-3 col-xs-6 seller text-center">
				<a href="https://www.leemaeats.com/bakedboxes" class="seller-logo-link">
					<%= image_tag "baked-boxes-photo.jpg", :class => 'img-responsive img-circle center-block founding-seller-logo' %>
				</a>
				<a href="https://www.leemaeats.com/bakedboxes">
					<h4 class="seller-full-name">Danielle Brady</h4>
				</a>
				<p class="location-store"><i class="fa fa-map-marker"></i> Ridgefield, NJ / Baked Boxes</p>
				<a class="btn btn-primary" href="https://www.leemaeats.com/bakedboxes">View Shop <i class="fa fa-arrow-circle-o-right"></i></a>
			</div>

	</div>
</section>

<section id="instagram">
	<div id="instagram-feed" class="clearfix"></div>
	<div class="gradient"></div>
	<a class="btn btn-lg btn-instagram" target="_blank" href="https://instagram.com/leemaeats/"><i class="fa fa-instagram"></i> Follow @leemaeats!</a>
</section>




<section id="get-started">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 text-center">
				<h2>How It Works</h2>
				<div class="row">
					<div class="col-sm-4">
						<div class="circle">
							<%= image_tag "shop-icon.png", class: 'img-responsive center-block' %>
						</div>
						<h4>Shop our products</h4>
					</div><!-- close .col-sm-4 -->
					<div class="col-sm-4">
						<div class="circle">
							<%= image_tag "money-icon.png", class: 'img-responsive center-block' %>
						</div>
						<h4>Make your purchase</h4>
					</div><!-- close .col-sm-4 -->
					<div class="col-sm-4">
						<div class="circle">
							<%= image_tag "smile-icon.png", class: 'img-responsive center-block' %>
						</div>
						<h4>Enjoy Deliciousness</h4>
					</div><!-- close .col-sm-4 -->
				</div><!-- close .row -->
				<% if signed_in? %>
					<%= link_to "Start Shopping", spree_path, class: "btn btn-primary" %>
				<% else %>
					<a href="/register" class="btn btn-primary">Create Your Account</a>
				<% end %>
			</div>
		</div><!-- close .row -->
	</div><!-- close .container -->
</section>
