<div data-hook="admin_image_form_fields">
  <div class="col-sm-6">
    <div data-hook="file" class="form-group">
      <%= f.label Spree.t(:filename) %>
      <%= f.file_field :attachment%>
    </div>
    <!-- Hiding this made the images not work, so using CSS to hide -->
    <div data-hook="variant" class="field" style="display:none;">
      <%= f.label Spree::Variant.model_name.human %><br>
      <%= f.select :viewable_id, @variants, {}, {:class => 'select2 fullwidth'} %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group" data-hook="alt_text" >
      <%= f.label Spree.t(:alt_text) %>
      <%= f.text_area :alt, :rows => 4, :class => 'form-control' %>
    </div>
  </div>
</div>

<div class="clear"></div>
