<table cellspacing="0" cellpadding="0" border="0" width="100%">
  <tbody>
    <tr>
      <td align="center" valign="top" style="padding:20px 0 20px 0">
        <table bgcolor="#FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #e0e0e0">
          <tbody>
            <tr>
              <td valign="top">
                <figure id="logo" data-hook>
                  <%= link_to spree.root_url do %>
                    <img src="http://leemaeats.herokuapp.com/assets/leema-mail-logo.png" alt="Leema Logo">
                  <% end %>
                </figure>
              </td>
            </tr>
            <tr>
              <td valign="top">
                <h1 style="font-size:22px;font-weight:normal;line-height:22px;">Hello <%= @supplier.users.first.first_name %>,</h1>
                <p style="font-size:12px;line-height:16px;margin:0">
                  An order has been placed.  Please confirm the shipment details, and <%= link_to 'print your shipping label', spree.edit_admin_shipment_url(@shipment) %> once your order is ready to be shipped.
                </p>
              </td>
            </tr>
            <tr>
              <td>
                <h2 style="font-size:18px;font-weight:normal;">Shipment Number: <%= link_to @shipment.number, spree.edit_admin_shipment_url(@shipment) %></h2>
                <h4style="font-size:14px;font-weight:normal;">Placed on: <%= @shipment.created_at.strftime('%A %b %e, %Y at %l:%M%p %Z') %></h4>
                <% if @shipment.order.special_instructions.present? %>
                  <tr class='special_instructions'>
                    <td colspan="5">
                      <h4style="font-size:14px;font-weight:normal;"><strong>Special instructions from the buyer:</strong> <%= @shipment.order.special_instructions %></h4>
                    </td>
                  </tr>
                <% end %>
              </td>
            </tr>
            <tr>
              <td>
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                  <thead>
                    <tr>
                      <th align="left" width="660" bgcolor="#EAEAEA" style="font-size:13px;padding:5px 9px 6px 9px;line-height:1em">Buyer's Information:</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td valign="top" style="font-size:12px;padding:7px 9px 9px 9px;border-left:1px solid #eaeaea;border-bottom:1px solid #eaeaea;border-right:1px solid #eaeaea">
                        <%= @shipment.order.bill_address.firstname %> <%= @shipment.order.bill_address.lastname %><br/>
                        <%= @shipment.order.bill_address.address1 %><br/>
                        <% unless @shipment.order.bill_address.address2.blank? %><%= @shipment.order.bill_address.address2 %><br/><% end %>
                        <%= @shipment.order.bill_address.city %>, <%= @shipment.order.bill_address.state.name %> <%= @shipment.order.bill_address.zipcode %><br/>
                        <%= @shipment.order.bill_address.country.name %><br/>
                        T: <a href="tel:<%= @shipment.order.bill_address.phone %>" value="<%= @shipment.order.bill_address.phone %>" target="_blank"><%= @shipment.order.bill_address.phone %></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <br>
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                  <thead>
                    <tr>
                      <th align="left" width="325" bgcolor="#EAEAEA" style="font-size:13px;padding:5px 9px 6px 9px;line-height:1em">Shipping Information:</th>
                      <th width="10"></th>
                      <th align="left" width="325" bgcolor="#EAEAEA" style="font-size:13px;padding:5px 9px 6px 9px;line-height:1em">Shipping Method:</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td valign="top" style="font-size:12px;padding:7px 9px 9px 9px;border-left:1px solid #eaeaea;border-bottom:1px solid #eaeaea;border-right:1px solid #eaeaea">
                        <%= @shipment.order.ship_address.firstname %> <%= @shipment.order.ship_address.lastname %><br/>
                        <%= @shipment.order.ship_address.address1 %><br/>
                        <% unless @shipment.order.ship_address.address2.blank? %><%= @shipment.order.ship_address.address2 %><br/><% end %>
                        <%= @shipment.order.ship_address.city %>, <%= @shipment.order.ship_address.state.name %> <%= @shipment.order.ship_address.zipcode %><br/>
                        <%= @shipment.order.ship_address.country.name %><br/>
                        T: <a href="tel:<%= @shipment.order.ship_address.phone %>" value="<%= @shipment.order.ship_address.phone %>" target="_blank"><%= @shipment.order.ship_address.phone %></a>
                      </td>
                      <td>&nbsp;</td>
                      <td valign="top" style="font-size:12px;padding:7px 9px 9px 9px;border-left:1px solid #eaeaea;border-bottom:1px solid #eaeaea;border-right:1px solid #eaeaea">
                        <%= @shipment.selected_shipping_rate.name %><br/>
                      </td>
                    </tr>
                  </tbody>
                </table>
                  <br>
                  <table cellspacing="0" cellpadding="0" border="0" width="650" style="border:1px solid #eaeaea">
                    <thead>
                      <tr>
                        <th align="left" bgcolor="#EAEAEA" colspan="2" style="font-size:13px;padding:3px 9px">Item</th>
                        <th align="center" bgcolor="#EAEAEA" style="font-size:13px;padding:3px 9px">Qty</th>
                        <th align="right" bgcolor="#EAEAEA" style="font-size:13px;padding:3px 9px">Subtotal</th>
                      </tr>
                    </thead>
                    <tbody bgcolor="#F6F6F6">
                      <% @shipment.line_items.each do |line_item| %>
                        <tr>
                          <td align="left" colspan="2" valign="top" style="font-size:11px;padding:3px 9px;border-bottom:1px dotted #cccccc">
                            <strong style="font-size:11px"><%= line_item.variant.name %></strong><% if line_item.custom_order_description != nil %>&nbsp;&nbsp;<span style="background-color:#5bc0de; display:inline; padding:3px; color:#ffffff; text-align:center; border-radius:2px; font-size:9px;">Custom Order</span>
                            <br /><br>
                            <strong>Description:</strong> <%= line_item.custom_order_description %>
                            <br><br>
                            <% end %>
                            <% if line_item.deliver_by_date != nil %>
                              <strong>Desired delivery date:</strong> <%= line_item.deliver_by_date.strftime("%b %e, %Y") %><br><br>
                            <% end %>
                            <% if line_item.variant.images.length == 0 %>
                              <% if line_item.custom_product_image %>
                                <strong>Custom order image: <%= link_to 'View Image', line_item.custom_product_image.url(:large)%></strong> 
                              <% end %>
                            <% end %>

                          </td>
                          <td align="center" valign="top" style="font-size:11px;padding:3px 9px;border-bottom:1px dotted #cccccc"><%= line_item.quantity %></td>
                          <td align="right" valign="top" style="font-size:11px;padding:3px 9px;border-bottom:1px dotted #cccccc">
                            <span><%= line_item.display_amount %></span>
                          </td>
                        </tr>
                      <% end %>
                    </tbody>
                    <tbody>
                      <tr>
                        <td colspan="3" align="right" style="padding:3px 9px">
                          Subtotal
                        </td>
                        <td align="right" style="padding:3px 9px">
                          <span><%= @shipment.display_item_cost %></span>
                        </td>
                      </tr>
                      <tr>
                        <td colspan="3" align="right" style="padding:3px 9px">
                          Shipping &amp; Handling
                        </td>
                        <td align="right" style="padding:3px 9px">
                          <span><%= @shipment.display_final_price %></span>
                        </td>
                      </tr>
                      <tr>
                        <td colspan="3" align="right" style="padding:3px 9px">
                          <strong>Grand Total</strong>
                        </td>
                        <td align="right" style="padding:3px 9px">
                          <strong><span><%= @shipment.display_final_price_with_items %></span></strong>
                        </td>
                      </tr>
                    </tbody>
                  </table>
              </td>
            </tr>
            <tr>
              <td bgcolor="#EAEAEA" align="center" style="background:#eaeaea;text-align:center">
                <center>
                  <p style="font-size:12px;margin:0">Thank you for using Leema, <%= @supplier.users.first.first_name %>!</p>
                </center>
                <br><br>
                <p style="font-size:12px;margin:0">Leema: Let Everyone Eat My Art © <%= Time.now.strftime("%Y") %>.</p>
                <br>
                <p style="font-size:12px;margin:0">You are receiving this email because one or more of your products were purchased on our website. If there is an issue with your order, please email us at <a href="mailto:support@leemaeats.com" style="color:#3a89ff">support@leemaeats.com</a>.</p>
                <br>
                
                <p style="font-size:12px;margin:0"><strong>Leema LLC</strong><br>
                  <span class="ios-footer">
                    New York, NY<br>
                  </span>
                  <a href="http://www.leemaeats.com.com" style="color:#3a89ff">www.leemaeats.com</a>
                </p>

                  <br>
                  <center>
                    <p style="font-size:12px;margin:0">
                      <a href="http://www.leemaeats.com/privacy-policy" style="color:#3a89ff">Privacy Policy</a>&nbsp;|&nbsp;<a href="https://www.leemaeats.com/terms-of-use" style="color:#3a89ff">Terms of Use</a>
                    </p>
                  </center>

                  <br>
              </td>
            </tr>
          </tbody>
        </table>
      </td
    </tr>
  </tbody>
</table>
