<div class="sign-in-reg">
  <div class="container form">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-12">
        <div class="form-header logo-inverse">
          <a href="/"><%= image_tag "leema-logo-white.png", class: 'img-responsive signin-logo' %></a>
        </div>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => 'well'}) do |f| %>
        <%= devise_error_messages! %>
        <fieldset>
          <legend>
            <h2>Log in</h2>
          </legend>
          <%= bootstrap_flash %>
          <div class="form-group">
            <div><%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, class: 'form-control input_wide' %></div>
          </div>
          <div class="form-group">
            <div><%= f.label :password %><br />
              <%= f.password_field :password, autocomplete: "off", class: 'form-control input_wide' %></div>
          </div>

          <% if devise_mapping.rememberable? -%>

            <div class="checkbox">

              <%= f.label :remember_me do %>
                <%= f.check_box :remember_me %>Remember me
              <% end %>

            </div>
          <% end -%>

          <div><%= f.submit "Log in", :class => "btn btn-primary" %></div>

          <div class="text-center">
            <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook), class: 'fb-login-button', 'data-size' => "large" %>
            <hr>
            <%= render "devise/shared/links" %>
          </div>
        </fieldset>

        <% end %>
      </div><!-- close col -->
    </div><!-- close row -->
  </div><!-- close container -->
</div>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=778387892228096";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>




