<%= form_for [:admin, Spree::StockMovement.new], url: admin_stock_items_path do |f| %>
  <fieldset>
    <legend align="center"><%= Spree.t(:add_stock_management) %></legend>

    <div data-hook="admin_stock_movements_form_fields" class="row">
      <div class="col-sm-4 col-sm-offset-4">
        <%= f.field_container :quantity do %>
          <div class="form-group">
            <%= f.label :quantity, Spree.t(:quantity) %>
            <%= f.number_field :quantity, class: 'form-control', value: 1 %>
          </div>
        <% end %>
      </div>
      <div class="col-sm-6 hidden">
        <%= f.field_container :stock_location do %>
          <div class="form-group">
            <%= label_tag :stock_location_id, Spree.t(:stock_location) %>
            <%= select_tag 'stock_location_id', options_from_collection_for_select(@stock_locations, :id, :name, "#{spree_current_user.supplier.stock_locations.first.id.to_i}"),
              class: 'fullwidth' %>
          </div>
        <% end %>
      </div>

      <div class="hidden">
        <%= f.field_container :variant_id do %>
          <%= label_tag 'variant_id', Spree.t(:variant) %>
          <%= select_tag 'variant_id', options_from_collection_for_select(@variants, :id, :sku_and_options_text),
            class: 'select2 fullwidth' %>
        <% end %>
      </div>
    </div>
    <p class="help-block text-center">To remove stock, input a negative amount and click "Adjust Stock".</p>
    <div class="form-buttons filter-actions actions" data-hook="buttons">
      <%= button Spree.t(:adjust_stock), 'arrows-v' %>
    </div>
  </fieldset>
<% end %>
