<div data-hook="admin_product_form_fields">

  <div class="col-sm-8" data-hook="admin_product_form_left">

    <div data-hook="admin_product_form_name">
      <%= f.field_container :name do %>
        <div class="form-group">
          <%= f.label :name, raw(Spree.t(:name) + content_tag(:span, ' *', :class => 'required')) %>
          <%= f.text_field :name, :class => 'form-control' %>
          <%= f.error_message_on :name %>
        </div>
      <% end %>
    </div>

    <div data-hook="admin_product_form_slug">
      <%= f.hidden_field :slug do %>
        <%= f.label :slug, raw(Spree.t(:slug) + content_tag(:span, ' *',  :class => "required")) %>
        <%= f.text_field :slug, :class => 'fullwidth title' %>
        <%= f.error_message_on :slug %>
      <% end %>
    </div>

    <div data-hook="admin_product_form_description">
      <%= f.field_container :description do %>
        <div class="form-group">
          <%= f.label :description, Spree.t(:description) %>
          <%= f.text_area :leema_description, {:rows => "7", :class => 'form-control'} %>
          <%= f.error_message_on :leema_description %>
        </div>
      <% end %>
    </div>

    <%= f.field_container :ingredients do %>
      <div class="form-group">
        <%= f.label :ingredients, Spree.t(:ingredients) %>
        <%= f.text_area :ingredients, {:rows => "7", :class => 'form-control'} %>
        <%= f.error_message_on :ingredients %>
      </div>
    <% end %>
    <%= f.field_container :shipping_information do %>
      <div class="form-group">
        <%= f.label :shipping_information, Spree.t(:shipping_information) %>
        <%= f.text_area :shipping_information, {:rows => "7", :class => 'form-control'} %>
        <%= f.error_message_on :shipping_information %>
      </div>
    <% end %>
      <div class="custom-orders">
        <h2>Custom Orders</h2>
        <hr>
        <% if @product.allow_custom_order == 0 %>
          <div class="checkbox custom-order-checkbox">
            <label>
              <%= f.check_box :allow_custom_order, {:id => 'custom-order-checkbox'} %>
              Allow custom orders for this product.
            </label>
          </div>
        <% else %>

          <div data-hook="new_product_prototype" class="col-sm-3 hidden">
            <%= f.field_container :prototype do %>
              <%= f.label :prototype_id, Spree.t(:prototype) %><br />
              <%= f.collection_select :prototype_id, Spree::Prototype.all, :id, :name, {:include_blank => true}, {:class => 'select2 fullwidth'} %>
            <% end %>
          </div>

          <div class="clearfix" data-hook="product-from-prototype" id="product-from-prototype">
            <%= render :file => 'spree/admin/prototypes/show' if @prototype %>
          </div>

          <%= f.field_container :custom_order_description do %>
            <div class="form-group">
              <%= f.label :custom_order_description, Spree.t(:custom_order_description) %><br />
              <%= f.text_area :custom_order_description, {:rows => "7", :class => 'form-control', :placeholder => 'Let your buyers know some details about your custom order options. What about your product can they personalize?'} %>
              <%= f.error_message_on :custom_order_description %>
            </div>
          <% end %>

          <div data-hook="new_product_price">
            <%= f.field_container :price_increase do %>
              <div class="form-group">
                <%= f.label :price_increase, Spree.t(:price_increase) %>
                <div class="input-group">
                  <span class="input-group-addon">$</span>
                  <%= f.text_field :price_increase, :value => number_to_currency(@product.price_increase, :unit => ''), :class => 'form-control' %>
                </div>
                <%= f.error_message_on :price_increase %>
              </div>
            <% end %>
          </div>
        <% end %>

      </div><!-- end custom orders -->
  </div>

  <div class="col-sm-4" data-hook="admin_product_form_right">
    <div data-hook="admin_product_form_price">
    <%= f.field_container :price do %>
      <div class="form-group">
        <%= f.label :price, raw(Spree.t(:price) + content_tag(:span, ' *', :class => "required")) %>
        <div class="input-group">
          <span class="input-group-addon">$</span>
          <%= f.text_field :price, :class => 'form-control', :value => number_to_currency(@product.price, :unit => '') %>
        </div>
        <%= f.error_message_on :price %>
      </div>
    <% end %>
    </div>

    <div data-hook="admin_product_form_cost_price" class="alpha two columns">
      <%= f.hidden_field :cost_price do %>
        <%= f.label :cost_price, Spree.t(:cost_price) %>
        <%= f.text_field :cost_price, :value => number_to_currency(@product.cost_price, :unit => '') %>
        <%= f.error_message_on :cost_price %>
      <% end %>
    </div>
    <div data-hook="admin_product_form_cost_currency" class="omega two columns">
      <%= f.hidden_field :cost_currency do %>
        <%= f.label :cost_currency, Spree.t(:cost_currency) %>
        <%= f.text_field :cost_currency %>
        <%= f.error_message_on :cost_currency %>
      <% end %>
    </div>

    <div class="clear"></div>

    <% if @product.has_variants? %>
      <div data-hook="admin_product_form_multiple_variants" class="<% if spree_current_user.leema_admin? == false %>hidden<% end %>">
        <%= f.label :skus, Spree.t(:sku).pluralize %>
        <span class="info">
          <%= Spree.t(:info_product_has_multiple_skus, count: @product.variants.count) %>
          <ul class="text_list">
            <% @product.variants.first(5).each do |variant| %>
              <li><%= variant.sku %></li>
            <% end %>
          </ul>
          <% if @product.variants.count > 5 %>
            <%= Spree.t(:info_number_of_skus_not_shown, count: @product.variants.count - 5) %>
          <% end %>
        </span>
        <div class="info-actions">
          <% if can?(:admin, Spree::Variant) %>
            <%= link_to_with_icon 'th-large', 'Manage Variants',  admin_product_variants_url(@product) %>
          <% end %>
        </div>
      </div>
    <% else %>
      <div data-hook="admin_product_form_sku">
        <%= f.hidden_field :sku do %>
          <%= f.label :sku, Spree.t(:sku) %>
          <%= f.text_field :sku, :size => 16 %>
        <% end %>
      </div>

      <!--<ul id="shipping_specs">
        <li id="shipping_specs_weight_field" data-hook="admin_product_form_weight" class="field alpha two columns">
          <%= f.label :weight, Spree.t(:weight) %>
          <%= f.text_field :weight, :size => 4 %>
        </li>
        <li id="shipping_specs_height_field" data-hook="admin_product_form_height" class="field omega two columns">
          <%= f.label :height, Spree.t(:height) %>
          <%= f.text_field :height, :size => 4 %>
        </li>
        <li id="shipping_specs_width_field" data-hook="admin_product_form_width" class="field alpha two columns">
          <%= f.label :width, Spree.t(:width) %>
          <%= f.text_field :width, :size => 4 %>
        </li>
        <li id="shipping_specs_depth_field" data-hook="admin_product_form_depth" class="field omega two columns">
          <%= f.label :depth, Spree.t(:depth) %>
          <%= f.text_field :depth, :size => 4 %>
        </li>
      </ul>-->
    <% end %>

    <div data-hook="admin_product_form_shipping_categories">
      <%= f.field_container :shipping_categories do %>
        <%= f.label :shipping_category_id, Spree.t(:shipping_weight_in_pounds) %>
        <%= f.collection_select(:shipping_category_id, @shipping_categories, :id, :name, { :include_blank => Spree.t('match_choices.none') }, { :class => 'select2' }) %>
        <%= f.error_message_on :shipping_category %>
      <% end %>
    </div>

    <!--<div data-hook="admin_product_form_tax_category">
      <%= f.field_container :tax_category do %>
        <%= f.label :tax_category_id, Spree.t(:tax_category) %>
        <%= f.collection_select(:tax_category_id, @tax_categories, :id, :name, { :include_blank => Spree.t('match_choices.none') }, { :class => 'select2' }) %>
        <%= f.error_message_on :tax_category %>
      <% end %>
    </div>-->
  </div>

  <div class="col-xs-12">
    <div data-hook="admin_product_form_taxons">
      <%= f.field_container :taxons do %>
        <div class="form-group">
          <%= f.label :taxon_ids, Spree.t(:product_tags) %><br />
          <%= f.hidden_field :taxon_ids, :value => @product.taxon_ids.join(',') %>
        </div>
      <% end %>
    </div>

    <div data-hook="admin_product_form_option_types" class="hidden">
      <%= f.field_container :option_types do %>
        <div class="form-group">
          <%= f.label :option_type_ids, Spree.t(:option_types) %>
          <%= f.hidden_field :option_type_ids, :value => @product.option_type_ids.join(',') %>
        </div>
      <% end %>
    </div>
  </div>

  <div data-hook="admin_product_form_meta" class="col-xs-12">
<!--     <div data-hook="admin_product_form_meta_keywords">
      <%= f.field_container :meta_keywords do %>
        <div class="form-group">
          <%= f.label :meta_keywords, Spree.t(:meta_keywords) %>
          <%= f.text_field :meta_keywords, :class => 'form-control' %>
        </div>
      <% end %>
    </div> -->

    <div data-hook="admin_product_form_meta_description">
      <%= f.field_container :meta_description do %>
        <div class="form-group">
          <%= f.label :meta_description, Spree.t(:seo_description) %>
          <%= f.text_field :meta_description, :class => 'form-control' %>
          <p class="help-block">Text entered in this field will appear as the product's description when shared on facebook.</p>
        </div>
      <% end %>
    </div>
  </div>

  <div class="clear"></div>

  <div data-hook="admin_product_form_additional_fields"></div>

  <div class="clear"></div>

  <div class="clearfix" data-hook="product-from-prototype" id="product-from-prototype">
    <%= render :file => 'spree/admin/prototypes/show' if @prototype %>
  </div>
  
</div>

<% unless Rails.env.test? %>
  <script>
  $('.select2-container').css({width: '20em'})
  </script>
<% end %>
<script type="javascript">

  //<![CDATA[
    (function($){
      var base_url = "<%= admin_prototypes_url %>";
      var prototype_select = $('#product_prototype_id');

      var customOrderCheck = $('#custom-order-checkbox input[type="checkbox"]');
      customOrderCheck.click(function(){
        if (customOrderCheck.prop('checked') == true) {
          console.log("adding the prototype");
          var id = "1";
          if (id.length) {
            var url = new Uri(base_url);
            url.setPath(url.path() + '/' + id);
            $('#product-from-prototype').load(url.toString());
          } else {
            $('#product-from-prototype').empty();
          }
        };
      });

      prototype_select.change(function() {
        var id = prototype_select.val();
        console.log(id);
        if (id.length) {
          var url = new Uri(base_url);
          url.setPath(url.path() + '/' + id);
          $('#product-from-prototype').load(url.toString());
        } else {
          $('#product-from-prototype').empty();
        }
      })
      if (prototype_select.html() == "") {
        prototype_select.change();
      }
    })(jQuery);
  //]]>

</script>
