<%= render :partial => 'spree/admin/shared/product_sub_menu' %>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @product } %>

<% if spree_current_user.supplier? && !spree_current_user.supplier.has_bank_account? %>
  <% content_for :page_title do %>
     <%= Spree.t('new_product') %>
  <% end %>

  <p class="lead">Oops! Looks like you haven't added your bank account yet.  Please add your bank account before adding a new product to ensure you get paid!</p>
  <div class="text-center">
    <a href="/store/admin/suppliers/<%= spree_current_user.supplier.slug %>/bank_accounts/new" class="btn btn-primary button">Add Bank Account</a>
  </div>
<% else %>
  <% content_for :page_title do %>
     <%= Spree.t('new_product') %>
  <% end %>
  <%= form_for [:admin, @product], method: :post, url: admin_products_path, :html => { :multipart => true } do |f| %>

    <fieldset data-hook="new_product">

      <legend align="center"><%= Spree.t(:new_product) %></legend>

      <%= f.field_container :name do %>
        <div class="form-group">
          <%= f.label :name, Spree.t(:product_name) %> <span class="required">*</span>
          <%= f.text_field :name, :class => 'form-control', :placeholder => 'Product Name' %>
          <%= f.error_message_on :name %>
        </div>
      <% end %>

      <%= f.field_container :leema_description do %>
        <div class="form-group">
          <%= f.label :leema_description, Spree.t(:product_description) %> <span class="required">*</span>
          <%= f.text_area :leema_description, {:rows => "7", :class => 'form-control', :placeholder => "Tell the item's story and explain why it's special.  Try to answer questions your customers will have - What is your product's shelf life? How many items come in one order?"} %>
          <%= f.error_message_on :leema_description %>
        </div>
      <% end %>

      <%= f.field_container :ingredients do %>
        <div class="form-group">
          <%= f.label :ingredients, Spree.t(:ingredients) %> <span class="required">*</span><br />
          <%= f.text_area :ingredients, {:rows => "7", :class => 'form-control', :placeholder => 'Please list ALL ingredients contained in your product. If your product is allergy friendly, you can also list that here....Gluten Free, Vegan, etc.'} %>
          <%= f.error_message_on :ingredients %>
        </div>
      <% end %>

      <%= f.field_container :shipping_information do %>
        <div class="form-group">
          <%= f.label :shipping_information, Spree.t(:shipping_information) %> <span class="required">*</span><br />
          <%= f.text_area :shipping_information, {:rows => "7", :class => 'form-control', :placeholder => 'Please list any important shipping information here. How long does it take you to fill orders? When can customers expect their shipments?'} %>
          <%= f.error_message_on :shipping_information %>
        </div>
      <% end %>

      <div data-hook="new_product_attrs" class="row">
        <% unless @product.has_variants? %>
          <!-- <div data-hook="new_product_sku" class="alpha col-sm-3">
            <%= f.field_container :sku do %>
              <%= f.label :sku, Spree.t(:sku) %><br />
              <%= f.text_field :sku, :size => 16, :class => 'fullwidth' %>
              <%= f.error_message_on :sku %>
            <% end %>
          </div> -->
        <% end %>
        <div data-hook="new_product_prototype" class="col-sm-3">
          <%= f.field_container :prototype do %>
            <%= f.label :prototype_id, Spree.t(:prototype) %><br />
            <%= f.collection_select :prototype_id, Spree::Prototype.all, :id, :name, {:include_blank => true}, {:class => 'select2 fullwidth'} %>
          <% end %>
        </div>

        <div data-hook="new_product_price" class="col-sm-3">
          <%= f.field_container :price do %>
            <div class="form-group">
              <%= f.label :price, Spree.t(:product_price) %> <span class="required">*</span>
              <div class="input-group">
                <span class="input-group-addon">$</span>
                <%= f.text_field :price, :value => number_to_currency(@product.price, :unit => ''), :class => 'form-control' %>
              </div>
              <%= f.error_message_on :price %>
            </div>
          <% end %>
        </div>


        <div class="col-xs-12">
          <p class="your-take">Your take: <span class="net-price"></span></p>
          <p class="help-block">This is approximately what you will make after Leema takes 10% of the sale.</p>
        </div>


        <!-- Hidden and automatically sets to today's date-->
        <div data-hook="admin_product_form_available_on">
          <%= f.hidden_field :available_on, :value => Date.today %>
        </div>

      </div><!-- close row -->

      <div class='row'>
        <div data-hook="new_product_shipping_category" class="col-sm-5">
          <%= f.field_container :shipping_category do %>
            <div class="form-group">
              <%= f.label :shipping_category_id, Spree.t(:select_shipping_weight_in_pounds) %><span class="required">*</span>
              <%= f.collection_select(:shipping_category_id, @shipping_categories, :id, :name, {  }, { :class => 'select2 fullwidth' }) %>
              <%= f.error_message_on :shipping_category_id %>
              <p class="help-block">Please select the total weight in pounds for 1 order. (i.e. if one order is 4 cookies, the total weight of 4 cookies).</p>
            </div>
          <% end %>
        </div>
      </div>

      <div class="checkbox custom-order-checkbox">
        <label>
          <%= f.check_box :allow_custom_order, {:id => 'custom-order-checkbox'} %>
            Allow custom orders for this product.
        </label>
      </div>
      <!-- Custom Orders -->
      <div class="row custom-orders" style="display:none;">
        <div class="col-xs-12">
          <h2>Custom Orders</h2>
          <p>If you would like to allow buyers to place custom orders of this product fill out the fields below.</p>
          <hr>

          <%= f.field_container :custom_order_description do %>
            <div class="form-group">
              <%= f.label :custom_order_description, Spree.t(:custom_order_description) %><br />
              <%= f.text_area :custom_order_description, {:rows => "7", :class => 'form-control', :placeholder => 'Let your buyers know some details about your custom order options. What about your product can they personalize?'} %>
              <%= f.error_message_on :custom_order_description %>
            </div>
          <% end %>

          <div class="row">
            <div data-hook="new_product_price" class="col-sm-3">
              <%= f.field_container :price_increase do %>
                <div class="form-group">
                  <%= f.label :price_increase, Spree.t(:price_increase) %>
                  <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <%= f.text_field :price_increase, :value => number_to_currency(@product.price_increase, :unit => ''), :class => 'form-control' %>
                  </div>
                  <%= f.error_message_on :price_increase %>
                </div>
              <% end %>
            </div><!-- close col-sm-3 -->
          </div><!-- close row -->

        </div><!-- end custom orders -->
      </div><!-- close row -->

      <div class="clearfix" data-hook="product-from-prototype" id="product-from-prototype">
        <%= render :file => 'spree/admin/prototypes/show' if @prototype %>
      </div>

      <%= render :partial => 'spree/admin/shared/new_resource_links' %>

    </fieldset>
  <% end %>
  <!-- value for custom order -->
  <script type="text/javascript">
  //<![CDATA[
    (function($){
      var base_url = "<%= admin_prototypes_url %>";
      var prototype_select = $('#product_prototype_id');
      prototype_select.change(function() {
        var id = prototype_select.val();
        if (id.length) {
          var url = new Uri(base_url);
          url.setPath(url.path() + '/' + id);
          $('#product-from-prototype').load(url.toString());
        } else {
          $('#product-from-prototype').empty();
        }
      })
      if (prototype_select.html() == "") {
        prototype_select.change();
      }
    })(jQuery);
  //]]>
    $(document).ready(function(){
      $("#product_price").keyup(function() {
          var value = $( this ).val(),
              percent = (90/100),
              netPrice = (value * percent).toFixed(2);
              if (isNaN(netPrice)) {
                $( ".net-price" ).text( "Please enter a numeric value." );
              } else {
                $( ".net-price" ).text( "$"+netPrice );
              }
        }).keyup();
      var customOrderCheck = $('.custom-order-checkbox input[type="checkbox"]');
      customOrderCheck.click(function(){
        if (customOrderCheck.prop('checked') == true) {
          $('.custom-orders').slideDown('slow');
          var element = document.getElementById('product_prototype_id');
          element.value = "1";
          var id = element.value;
          var base_url = "<%= admin_prototypes_url %>";
          var url = new Uri(base_url);
          url.setPath(url.path() + '/' + id);
          $('#product-from-prototype').load(url.toString());
        } else {
          $('.custom-orders').slideUp('slow');
        };
      });
    });
  </script>
<% end %>
