<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<%= csrf_meta_tags %>

<title>
  <% if content_for? :title %>
    <%= yield :title %>
  <% else %>
    <%= "Leema #{Spree.t('administration')}: " %>
    <%= Spree.t(controller.controller_name, :default => controller.controller_name.titleize) %>
  <% end %>
</title>

<%= favicon_link_tag 'favicon.ico' %>


<%= stylesheet_link_tag 'application', :media => 'all' %>
<%= stylesheet_link_tag 'spree/backend/all' %>
<%= stylesheet_link_tag 'admin', :media => 'all' %>


<%= javascript_include_tag 'spree/backend/all' %>
<%= javascript_include_tag "bootstrap" %>

<%= render "spree/admin/shared/translations" %>

<%= javascript_tag do -%>
  jQuery.alerts.dialogClass = 'spree';
  <%== "var AUTH_TOKEN = #{form_authenticity_token.inspect};" %>
<% end -%>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-61690734-1', 'auto');
  ga('send', 'pageview');

</script>

<%= yield :head %>
<% if spree_current_user.supplier? && !spree_current_user.supplier.has_bank_account? %>
  <script type="text/javascript">

  $(window).load(function(){
  	var bankAccountLink = "/store/admin/suppliers/<%= spree_current_user.supplier.slug %>/bank_accounts/new";

  	$('#content-header').after('<div class="alert alert-warning" role="alert">Pssst! You still need to <a href="'+ bankAccountLink +'">add your bank account</a> info in order to get paid!</div>');
  });
  </script>
<% end %>
