<% stars = @product.stars %>
<% reviews_count = @product.reviews_count %>
<div class="ratings">
  <p><%= Spree.t('average_customer_rating') %>: </p>
  <p class="ratings-stars">
    <span title="<%= txt_stars(stars) %>">
      <%= render 'spree/reviews/stars', :stars => stars %>
    </span>
  </p>
  <p class="ratings-basedupon">(<%= Spree.t('based_upon_review_count', :count => reviews_count) %>)</p>
  <div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
    <meta itemprop="ratingValue" content="<%= stars %>" />
    <meta itemprop="reviewCount" content="<%= reviews_count %>" />
    <meta itemprop="bestRating" content="5" />
    <meta itemprop="worstRating" content="1" />
  </div>
</div>
<div class="share-product">
    <!-- Facebook Like/Share Buttons -->
    <div class="share-product-button">
      <div class="fb-like" data-share="true" data-width="300px" data-show-faces="false" data-layout="button_count"></div>
    </div>
    <% if @product.images.count > 0 %>
      <div class="share-product-button" style="margin-top:4px;">
        <a href="//www.pinterest.com/pin/create/button/?url=<%= canonical_href %>&media=<%= image_url(@product.images.first.attachment.url(:large)) %>&description=Next%20stop%3A%20Pinterest" data-pin-do="buttonPin" data-pin-config="beside" data-pin-color="red"><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_20.png" /></a>
        <!-- Please call pinit.js only once per page -->
        <script type="text/javascript" async defer src="//assets.pinterest.com/js/pinit.js"></script>
      </div>
    <% end %>
</div><!-- close .share-product -->
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '697889273656067',
      xfbml      : true,
      version    : 'v2.3'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
